{% extends "./header.html" %}
{% load static  %}

{% block content %}
    <div class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="home-tab">
      <h2>Introduction</h2>
      <p>This is a group project from Université Claude Bernard Lyon 1 students.</p>


      <h2>Dataset description</h2>
      <p>This dataset comes from the <a href="https://www.kaggle.com/c/movie-review-sentiment-analysis-kernels-only">"Movie Review Sentiment Analysis"</a> Kaggle Challenge.
        It was extracted from the <a href="https://www.rottentomatoes.com/">Rotten Tomatoes</a> Website.</p>      
{% endblock %}