{% extends "./header.html" %}
{% load static  %}

{% block content %}
    <div class="tab-pane fade show active" id="desc" role="tabpanel" aria-labelledby="home-tab">
      <h2>Introduction</h2>
      <p>This is a group project from Université Claude Bernard Lyon 1 students.</p>


      <h2>Dataset description</h2>
      <p>This dataset comes from the <a href="https://www.kaggle.com/c/movie-review-sentiment-analysis-kernels-only">"Movie Review Sentiment Analysis"</a> Kaggle Challenge.
        It was extracted from the <a href="https://www.rottentomatoes.com/">Rotten Tomatoes</a> Website.</p>
      <h3>Random samples extracted from the dataset</h3>
      <button id="shuffle" class="btn btn-dark breathe">Shuffle!</button>
      <h4>Sample 1</h4>
      <samp><p id="samp1"></p></samp>
      <h4>Sample 2</h4>
      <samp><p id="samp2"></p></samp>
      <h4>Sample 3</h4>
      <samp><p id="samp3"></p></samp>
    </div>

{% endblock %}