/* GENERAL */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    background-color: white;
}
h1, h2, h3, h4 { font-weight: 800;
                 
}
h1, h2 { color: #080706; }
a { color: #080706; }
a:hover { color: #D2CDCC; }
.breathe { margin-top: 0.5rem; margin-bottom: 0.5rem; }

.container {
    background-color: #fff;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* HEADER */

header img {
    margin-right: 1rem;
}

/* CONTENT */

.tab-content {
    padding: 1rem;
}
